* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Desafio {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: peru;
  color: #121821c2;
}